@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    background-color: white;
    padding: 0%;
    margin: 0%;
}

.container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/*Nav Bar*/
header{
    background-color: #553177;
    color: white;
    padding: 10px 0;
}

header nav{
    float: right;
    margin-top: 10px;
}
header ul{
    margin:0;
    padding:0;
}
header li{
    display: inline;
    padding:0 20px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Roborto', sans-serif;

}
header a{
    color: white;
    text-decoration:none;
}

header a:hover{
    color: #7eb1e0;
}

#caption{
    float:left;
}

#caption h1{
    margin:0;   
}

header .logo{
    color: #7eb1e0;
}

/* Hero section */
#Hero{
    min-height: 500px;
    background-image:url(watercolor\ simple\ name\ tag.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

#Hero h4{
    font-size: 25px;
    margin-top: 160px;
    margin-bottom: 0%;
    text-align: center;
}

#Hero h1{
    font-size: 75px;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    color: #3e3546;
    font-family:'Dancing Script', cursive   ;

}

#Hero button{
    font-size: 19px;
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid black;
    color: #7eb1e0;
    display: flex;
    align-items: center;
    margin: auto;

}

#Hero button:hover{
    background-color: #553177;
    color: white;
    border: 1px solid #7eb1e0 ;
}
#seperate{
    padding: 5px;
    background-color: #553177;
}

/* About Section */

#about {
    padding: 120px 0;
    background-color: #fff;
}

#about h2 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #553177;
}

.about-box1 {
    padding: 10px;
    float: left;
    width: 20%;
}

.about-box1 img{
    display: block;
    margin:auto;
}

.about-box2 {
    padding: 10px;
    float: right;
    width: 60%;
    text-align: justify;
}

#about button{
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border: 1px solid #553177;
    color: #553177;
    padding: 8px 20px;
}

#about button:hover{
    background-color: #553177;
    color: white;
    border: 1px solid white ;
}

/* Skills Section*/

#skills {
    background-color:#7eb1e0;
    padding: 70px 0;
}

.box {
    width: 28%;
    float: left;
    text-align: center;
    padding: 10px;

}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
  
.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#skills h2 {
    color: #553177;
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#skills h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: bolder;
}

#skills p {
    color: grey;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px; 
}

/* Contact Section */
#forms h4{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #553177;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#forms {
    margin: 5% 25%;
    padding: 70px;
    background-color: #fff;
    text-align: center;
} 

#forms h2 {
    text-align: center;
    margin-top: 6 0px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #553177;
}

#forms .form-group {
    font-size: 20px;
    color: #553177;
    font-weight: bold;
}

label {
    display: block;
}
input{
    width: 250px;
    padding: 5px ;
    margin: 2px 0;
}

#forms .button {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #553177;
    border: 1px solid #553177;
}

#forms .button:hover {
    color: #553177;
    background-color: #fff;
}

footer {
    padding: 10px;
    background-color: #553177;
    background-color: #fff;
    text-align: center;
}

/* additional style */
.info-panel {
    color: #fff;
}